section {
	width: 100%;
	margin-bottom: 200px;
	.inner {
		padding: 0 22rem 0 32rem;
	}
}

main {
	&.on {
		.inner {
			transform: translateY(0px);
			transition: 1s;
		}
	}
	.inner {
		transform: translateY(100px);
		transition: 1s;
	}
}

.content {
	min-height: 764px;
	.inner {
		padding: 50px 22rem 0 32rem;
		h1 {
			margin-bottom: 100px;
			font-size: 60px;
			font-family: "Archivo Black", sans-serif;
		}
	}
}
