.content {
	position: relative;
	&.on {
		opacity: 1;
		transform: translateY(0px);
		> .inner {
			transform: translateY(0px);
			opacity: 1;
		}
	}
	> figure {
		width: 100%;
		height: 300px;
		background: cornflowerblue;
		transition: 0.5s;
	}
	> .inner {
		transform: translateY(100px);
		opacity: 0;
		transition: 1s;
		width: 1180px;
		margin: 0 auto;
		padding-top: 100px;

		h1 {
			font: 30px/1 "arial";
			color: #333;
			margin-bottom: 20px;
		}
		> section {
			min-height: 500px;
		}
	}
}

@media screen and (max-width: $tablet) {
	.content {
		> figure {
			height: 200px;
		}
		> .inner {
			width: 100%;
			padding: 0px 3vw;
			padding-top: 80px;
		}
	}
}
