#btns {
	position: fixed;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	li {
		width: 10px;
		height: 10px;
		margin-bottom: 20px;
		border: 1px solid #999;
		cursor: pointer;
		border-radius: 50%;
		transition: 0.5s;
		&.on {
			height: 50px;
			background: #000;
			border-radius: 10px;
		}
	}
}
