.highlight {
	height: auto;
	.inner {
		h1 {
			font-size: 35px;
			margin-bottom: 40px;
			font-weight: 700;
		}
		> div {
			height: 330px;
			.swiper-button-prev {
				position: absolute;
				top: 0;
			}
			.swiper-button-next {
				top: 30px;
				left: 0;
			}
			.swiper-scrollbar {
				width: 20%;
				top: 0;
				left: 98.5rem;
			}

			.swiper-wrapper {
				align-items: flex-end;
			}

			.img_container {
				overflow-y: auto;
				overflow-x: hidden;
				position: absolute;
				width: 100%;
				height: 330px;
				display: flex;
				.img_box {
					width: 430px;
					height: 90%;
					flex-shrink: 0;
					background: #ececec;
					margin-right: 10px;
					border-radius: 5px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					position: relative;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					.img_txt {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						padding: 30px 20px;
						color: #fff;
						h2 {
							font-size: 24px;
						}
						p {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
