.highlight {
	.inner {
		h1 {
			font-size: 35px;
			margin-bottom: 40px;
			font-weight: 700;
		}
		.img_container {
			width: 3220px;
			height: 270px;
			display: flex;
			.img_box {
				width: 460px;
				height: 100%;
				flex-shrink: 0;
				background: #ececec;
				margin-right: 10px;
				border-radius: 20px;
				padding: 40px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				h2 {
					font-size: 24px;
				}
				p {
					font-size: 14px;
				}
			}
		}
	}
}
