.photos {
	.inner {
		.wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			.photos_txt_box {
				width: 30%;
				h1 {
					font-size: 40px;
					font-weight: bold;
					margin-bottom: 30px;
				}
				p {
					font-size: 21px;
					line-height: 200%;
					margin-bottom: 30px;
					font-size: 20px;
				}
			}
			.photos_img_box {
				width: 500px;
				height: 500px;
				position: relative;
				display: flex;
				right: 100px;
				&::before {
					content: "";
					display: block;
					width: 260px;
					height: 350px;
					background: linear-gradient(180deg, #f6b1cf, #fbac4a);
					border-radius: 5px;
				}
				&::after {
					content: "";
					display: block;
					width: 260px;
					height: 460px;
					background: linear-gradient(180deg, #e5007e, #ed1c24);
					position: relative;
					bottom: 20px;
					z-index: 1;
					border-radius: 5px;
				}
				.photos_img {
					position: absolute;
					z-index: 2;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 5px;
					}
					&:first-of-type {
						width: 350px;
						height: 230px;
						top: -70px;
						left: 50%;
						transform: translateX(-50%);
					}
					&:nth-of-type(2) {
						width: 430px;
						height: 240px;
						right: -100px;
						top: 100px;
					}
					&:nth-of-type(3) {
						width: 255px;
						height: 355px;
						bottom: -100px;
						left: -80px;
						z-index: 3;
					}
					&:nth-of-type(4) {
						width: 350px;
						height: 245px;
						left: 80px;
						bottom: -50px;
					}
				}
			}
		}
	}
}
