figure {
	width: 100%;
	height: 100vh;
	position: relative;
	margin-top: 30px;
	.inner {
		width: 140rem;
		height: 100%;
		margin: 0px auto;
		display: flex;
		.img_container {
			background: cornflowerblue;
			width: 100%;
			height: 70rem;
			border-radius: 5px;
			.img_box {
				width: 100%;
				height: 100%;
				font-size: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.txt {
			color: #fff;
		}
	}
}

@media screen and (max-width: $tablet) {
	figure {
		.inner {
			width: 100%;
			padding: 20px 6vw;
		}
	}
}
