.about {
	.inner {
		h2 {
			color: #777;
			font-size: 50px;
			line-height: 65px;
			margin: auto;
			margin-bottom: 50px;
			margin-top: 50px;
			letter-spacing: 1px;
			text-align: center;
			font-family: "Amiri", serif;
			strong {
				color: #000;
				font-size: 60px;
			}

			&:first-child {
				margin-top: 0px;
			}
		}
		.about_we {
			.about_we_content {
				display: flex;
				justify-content: space-between;
				.about_we_txt {
					width: 50%;
					font-size: 30px;
					line-height: 45px;
					display: flex;
					align-items: center;
					padding: 30px;
				}
				.about_we_pic {
					width: 50%;
					padding-top: 20px;
					margin-left: 0px;
					margin-right: 0px;
					.swiper-scrollbar {
						top: 0;
						width: 50%;
						left: auto;
						right: 0;
						cursor: pointer;
					}
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
		.about_member {
			h2 {
				margin-bottom: 100px;
			}
			.about_member_content {
				display: flex;
				flex-wrap: wrap;
				article {
					width: 50%;
					height: 400px;
					display: flex;
					margin-bottom: 50px;
					img {
						width: 50%;
						height: 100%;
						object-fit: cover;
						object-position: top;
					}
					.about_member_txt {
						width: 50%;

						h3 {
							font-size: 45px;
							font-weight: bold;
							text-align: center;
							margin-bottom: 20px;
						}
						h4 {
							font-size: 30px;
							font-weight: 700;
							text-align: center;
						}
						p {
							font-size: 18px;
							line-height: 25px;
							padding: 30px;
						}
					}
				}
			}
		}
	}
}
