.gallery {
	.inner {
		h2 {
			font-family: "Pretendard-Black";
			color: #777;
			font-size: 50px;
			line-height: 65px;
			margin: auto;
			margin-bottom: 50px;
			margin-top: 50px;
			letter-spacing: 1px;
			text-align: center;

			strong {
				color: #000;
				font-size: 60px;
			}

			&:first-child {
				margin-top: 0px;
			}
		}
		.best_photo {
			border-bottom: 3px solid #ececec;
			padding-bottom: 30px;
			margin-bottom: 50px;
			.best_photo_list {
				height: 500px;
				padding-top: 50px;
				padding-bottom: 50px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: top;
					box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
					cursor: pointer;
				}
			}
		}
		.searchBox {
			text-align: center;
			margin-bottom: 50px;
			position: relative;
			input {
				border: 5px solid #ddd;
				padding: 10px;
				font-size: 18px;
				width: 300px;
				box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
			}
			button {
				display: block;
				margin: 30px auto;
				padding: 10px;
				background: none;
				border: 3px solid #4a6bd6;
				font-family: "Noto Sans", sans-serif;
				font-weight: 700;
				box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
				cursor: pointer;
				&:hover {
					transform: scale(1.1);
				}
			}
			.loading {
				position: absolute;
				bottom: -200px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 50;
				width: 100px;
				height: 100px;
			}
		}

		> section {
			transform: translateY(200px);
			transition: 1s;
			opacity: 0;
			&.on {
				transform: translateY(0px);
				opacity: 1;
			}

			&::after {
				content: "";
				display: block;
				clear: both;
			}

			article {
				width: 25%;
				float: left;
				padding: 10px;
				> .inner {
					width: 100%;
					height: 100%;
					padding: 10px;
					.pic {
						width: 100%;
						cursor: pointer;
						img {
							width: 100%;
							object-fit: cover;
							box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
						}
					}
				}
			}
		}
	}
}

.popup {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5vw;
	z-index: 10;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	span {
		font: bold 14px/1 "arial";
		color: #fff;
		position: absolute;
		top: 4vh;
		right: 5vw;
		cursor: pointer;
	}
}

@media screen and (max-width: 1179px) {
	.gallery {
		.item {
			width: 25% !important;
		}
	}
}

@media screen and (max-width: 899px) {
	.gallery {
		.item {
			width: 33.333% !important;
		}
	}
}
@media screen and (max-width: 739px) {
	.gallery {
		.item {
			width: 50% !important;
		}
	}
}
@media screen and (max-width: 479px) {
	.gallery {
		.item {
			width: 100% !important;
		}
	}
}
