.location {
	figure {
		img {
			object-position: bottom;
		}
	}
	.inner {
		> section {
			display: flex;
			justify-content: space-between;
			#map {
				width: 50%;
				height: 800px;
				background: #000;
			}
			.location_content {
				width: 45%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				.location_btns {
					width: 45%;
					margin-top: 50px;
					text-align: center;
					.traffic {
						margin-bottom: 30px;
						button {
							border: none;
							font-weight: 700;
							font-size: 24px;
							padding: 20px;
							font-family: "Noto Sans KR", sans-serif;
							background: #aaa;
							cursor: pointer;
							&.on {
								background: #050505;
								color: #fff;
							}
						}
					}
					.branch {
						display: flex;
						justify-content: space-around;
						button {
							padding: 10px;
							font-size: 20px;
							margin-right: 5px;
							border: none;
							font-weight: 700;
							font-family: "Noto Sans KR", sans-serif;
							cursor: pointer;
							&:hover,
							&.on {
								background: #050505;
								color: #fff;
							}
						}
					}
				}
				.location_pic {
					width: 100%;
					height: 60%;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}
