.location {
	section {
		width: 100%;
		position: relative;

		#map {
			width: 70%;
			height: 100vh;
			background: #000;
			position: fixed;
			top: 0;
			left: 0;
		}
		.location_content {
			position: absolute;
			top: -80px;
			right: 0;
			width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			background: #efefef;
			border-left: 2px solid #000;
			h2 {
				font-size: 40px;
				text-align: center;
				margin-top: 30px;
				font-family: "Amiri", serif;
			}
			.location_pic_box {
				padding: 40px;
				display: flex;
				flex-direction: column;
				align-items: center;
				.location_pic {
					padding: 10px;
					width: 60%;
					text-align: center;
					height: 60%;
					background: #fff;
					margin-bottom: 20px;
					img {
						width: 100%;
						height: 100%;
						cursor: pointer;
					}
				}
				.location_pic_txt {
					text-align: center;
					h3 {
						font-size: 20px;
						font-family: "Merriweather", serif;
						margin-bottom: 10px;
					}
					p {
						font-size: 18px;
						padding: 0px 50px;
						color: #888;
						margin-bottom: 10px;
					}
					span {
						font-size: 14px;
						font-weight: 700;
						color: #777;
					}
				}
			}
		}
	}
}
