.qna {
	.inner {
		margin: 0 auto;
		h1 {
			margin-bottom: 50px;
		}
		> p {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 80px;
		}
		.qna_content {
			width: 100%;
			margin-bottom: 100px;
			h2 {
				font-size: 30px;
				font-weight: 700;
				font-family: "Pretendard-Black";
				margin-bottom: 50px;
			}
			.qna_content_card {
				width: 100%;
				background: #fff;
				margin-bottom: 20px;
				padding: 30px;
				.qna_content_qustion {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 22px;
					svg {
						font-size: 30px;
					}
				}
				.qna_content_answer {
					margin-top: 30px;
					font-size: 20px;
					display: none;
					&.on {
						display: block;
					}
				}
			}
			.qna_input {
				text-align: center;
				input,
				textarea {
					width: 100%;
					padding: 20px;
					text-align: center;
					border: 1px solid #ececec;
					font-size: 20px;
					font-family: "Noto Sans KR", sans-serif;
					margin-bottom: 10px;
				}
				.qna_btn {
					width: 100%;
					margin: 0 auto;
					display: flex;
					justify-content: space-between;
					button {
						cursor: pointer;
						border: none;
						background: #aaa;
						width: 49%;
						padding: 20px;
						font-size: 20px;
						font-weight: 700;
						font-family: "Noto Sans", sans-serif;
						cursor: pointer;
						color: #fff;
						&:hover {
							background: #666;
						}
					}
				}
			}
			.showList {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 30px;
				article {
					width: 49%;
					text-align: center;
					margin-bottom: 30px;
					padding: 50px 0px;
					border: 2px solid #aaa;

					.post {
						width: 100%;
						h2 {
							font-size: 24px;
							margin-bottom: 20px;
						}
						p {
							font-size: 20px;
							margin-bottom: 10px;
						}
						input,
						textarea {
							width: 100%;
							padding: 20px;
							text-align: center;
							border: 1px solid #ececec;
							font-size: 20px;
							font-family: "Noto Sans KR", sans-serif;
							margin-bottom: 10px;
						}
					}
					.btns {
						width: 100%;
						display: flex;
						justify-content: center;
						margin-top: 30px;
						button {
							width: 20%;
							margin-right: 10px;
							border: none;
							padding: 10px;
							cursor: pointer;
							font-weight: bold;
							background: #aaa;
							color: #fff;
							font-weight: 700;
							font-family: "Noto Sans", sans-serif;
							font-size: 18px;
							&:hover {
								background: #666;
							}
						}
					}
				}
			}
		}
	}
}
