.qna {
	.inner {
		width: 140rem;
		margin: 0 auto;
		.qna_content {
			width: 100%;
			.qna_input {
				text-align: center;
				input,
				textarea {
					width: 100%;
					padding: 20px;
					text-align: center;
					border: 1px solid #ececec;
					font-size: 20px;
					font-family: "Noto Sans KR", sans-serif;
					margin-bottom: 10px;
				}
				.qna_btn {
					width: 100%;
					margin: 0 auto;
					display: flex;
					justify-content: space-between;
					button {
						cursor: pointer;
						border: none;
						background: #aaa;
						color: #fff;
						&:hover {
							background: #666;
						}
					}
				}
				button {
					width: 49%;
					padding: 20px;
					font-size: 20px;
					font-weight: 700;
					font-family: "Noto Sans", sans-serif;
					cursor: pointer;
				}
			}
			.showList {
				width: 100%;
				article {
					width: 100%;
					text-align: center;
					margin-bottom: 30px;
					margin: 0 auto;
					padding: 50px 0px;
					border-bottom: 3px solid #aaa;
					.post {
						width: 100%;
						h2 {
							font-size: 24px;
							margin-bottom: 10px;
						}
						p {
							font-size: 20px;
							margin-bottom: 10px;
						}
						input,
						textarea {
							width: 100%;
							padding: 20px;
							text-align: center;
							border: 1px solid #ececec;
							font-size: 20px;
							font-family: "Noto Sans KR", sans-serif;
							margin-bottom: 10px;
						}
					}
					.btns {
						width: 100%;
						display: flex;
						justify-content: center;
						margin-top: 30px;
						button {
							width: 20%;
							margin-right: 10px;
							border: none;
							padding: 10px;
							cursor: pointer;
							font-weight: bold;
							background: #aaa;
							color: #fff;
							font-weight: 700;
							font-family: "Noto Sans", sans-serif;
							font-size: 18px;
							&:hover {
								background: #666;
							}
						}
					}
				}
			}
		}
	}
}
