.youtube {
	.inner {
		h2 {
			font-family: "Pretendard-Black";
			color: #777;
			font-size: 50px;
			line-height: 65px;
			margin: auto;
			margin-bottom: 50px;
			margin-top: 50px;
			letter-spacing: 1px;
			text-align: center;
			strong {
				color: #000;
				font-size: 60px;
			}

			&:first-child {
				margin-top: 0px;
			}
		}
		section {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 100px;

			.hot_youtube {
				margin-top: 30px;
				height: 400px;
				padding-top: 20px;
				padding-bottom: 80px;
				border-bottom: 3px solid #ddd;
				.hot_yotube_content {
					img {
						width: 100%;
						height: 100%;
						box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
						cursor: pointer;
					}
				}
				.swiper-scrollbar {
					top: 0;
					left: auto;
					right: 0;
					width: 30%;
					height: 12px;
				}
			}
			.all_youtube {
				padding-top: 50px;
				padding-bottom: 150px;
				border-bottom: 3px solid #ddd;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.all_youtube_content {
					width: 49%;
					margin-bottom: 50px;

					.pic {
						width: 100%;
						img {
							width: 100%;
							height: 100%;
							box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
