.youtube {
	background: #efefef;
	.inner {
		section {
			display: flex;
			padding-bottom: 100px;
			article {
				width: 20%;
				height: 500px;
				padding: 10px;
				overflow: hidden;
				.inner {
					width: 100%;
					height: 100%;
					background: #fff;
					box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
					padding: 10px;
					display: flex;
					flex-wrap: wrap;
					align-content: space-between;
					justify-content: center;

					.txt {
						h2 {
							font: bold 16px/1.2 "arial";
							color: #555;
							margin-bottom: 20px;
						}
						p {
							font: 12px/1.2 "arial";
							color: #888;
							word-break: break-all;
						}
					}
					.pic {
						width: 100%;
						height: 150px;
						cursor: pointer;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}
