@charset "UTF-8";

$tablet: 1179px;
$mobile: 639px;

//google fonts
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");
/*
font-family: 'Archivo Black', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

//눈누 font
@font-face {
	font-family: "SF_HambakSnow";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

//Common
@import "./common/reset";
@import "./common/layout";
@import "./common/header";

@import "./common/footer";

//main
@import "./main/visual";
@import "./main/intro";
@import "./main/news";
@import "./main/side";
@import "./main/highlight";
@import "./main/videos";
@import "./main/info";
@import "./main/photos";

//Sub
@import "./sub/about";
@import "./sub/qna";
@import "./sub/gallery";
@import "./sub/yotube";
@import "./sub/location";
@import "./sub/join";

html {
	font-size: 0.52vw;
}

body {
	overflow-x: hidden;
	font-family: "Noto Sans", sans-serif;
}

@media screen and (max-width: 1720px) {
}

@media screen and (max-width: 1410px) {
}

@media screen and (max-width: 1250px) {
}
