@charset "UTF-8";

$tablet: 1179px;
$mobile: 639px;

//google fonts
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans:wght@400;700&family=Poiret+One&family=Poppins:wght@400;700&display=swap");
/*
font-family: 'Merriweather', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
*/

//눈누 font

@font-face {
	font-family: "Pretendard-Black";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
		format("woff");
	font-weight: 600;
	font-style: normal;
}

//Common
@import "./common/reset";
@import "./common/layout";
@import "./common/header";

@import "./common/footer";

//main
@import "./main/visual";
@import "./main/intro";
@import "./main/news";
@import "./main/side";
@import "./main/highlight";
@import "./main/videos";
@import "./main/info";
@import "./main/photos";

//Sub
@import "./sub/about";
@import "./sub/qna";
@import "./sub/gallery";
@import "./sub/yotube";
@import "./sub/location";
@import "./sub/join";

html {
	font-size: 0.52vw;
}
h1,
h2,
h3 {
	font-family: "SF_HambakSnow";
}

body {
	overflow-x: hidden;
	font-family: "Noto Sans", sans-serif;
}

@media screen and (max-width: 1720px) {
}

@media screen and (max-width: 1410px) {
}

@media screen and (max-width: 1250px) {
}
